.cs_td_icon_comment{
    position: absolute;
    line-height: 1rem;
    right:1.5rem;
    color:grey;
}
.cs_td_icon_comment:hover{
    cursor: pointer;
    color:rgb(30, 197, 30);
}
.cs_tm_input .MuiInputLabel-shrink{
   background: white;
   padding-left: 0.15rem!important;
   padding-right: 0.15rem!important;
}
.cs_tm_input_item{
    margin: 0 auto!important;
}
.modal{
    font-style: normal;
}
.cs_tm_rate_group{
    margin-top: 0.3rem!important;
    margin-bottom: 0.3rem!important;
}
.cs_tm_rate_label{
    text-align: center;
    line-height: 44px;
}
.cs_tm_rate{
  
}
.cs_tm_comment_area{
    border-radius: 5px;
    width: 100%;
    resize: none;
}
