.cs_header {
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  width: 100%;
  background: #2a2a2a;
}

.cs_header_title {
  font-size: 2rem;
  font-family: "Courier New";
  color: white;
  margin-left: 1rem;
  cursor: pointer;
  user-select: none;
}

.cs_header_bar {
  font-size: 2rem;
  font-family: "Courier New";
  user-select: none;
  color: #2a2a2a;
}

.cs_header_white_bar {
  font-size: 2rem;
  font-family: "Courier New";
  user-select: none;
  color: #fff;
}
