.HomePage{
    min-height: 65rem;
    background-image: url("../../assets/images/background/coding3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    overflow: hidden;
}