.jumbotron {
  margin-top: 5rem;
  padding: 6rem !important;
  background: rgba(255, 255, 255, 0.2) !important;
  user-select: none;
}
.jumbotron_title {
  color: white;
  font-weight: bold;
}
.jumbotron_content {
  color: white;
}
.jumbtron_btn {
  margin-top: 3rem;
  text-align: right;
}
