.cs_sidebar_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 9rem;
}

.cs_sidebar_link {
  background-color: var(--primary-black);
  color: white;
}

.cs_sidebar_link:hover {
  text-decoration: none;
  color: white;
}

.cs_sidebar_item {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}
