.cs_header{
    height: 3rem;
    width: 100%;
    background:rgba(38, 39, 35, 0.5);

    position: fixed;
    top:0;
    z-index: 100;
}
.cs_header_title{
    font-size: 2rem;
    font-weight: bold;
    color:white;
    margin-left: 1rem;
}
.cs_header_title:hover{
    cursor: pointer;
}