.TeachersDescription{
    padding-left: 0.5rem!important;
}
.cs_td_teacher_title{
    margin-top: 0.5rem!important;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
}
.cs_td_teacher_name{
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}
.cs_td_teacher_icons{
   position: relative;
}
.cs_td_teacher_icons .cs_td_teacher_like{
    position: absolute;
    line-height: 1rem;
    right:6rem;
}
.cs_td_teacher_icons .cs_td_teacher_rating{
    position: absolute;
    right: 10rem;
    line-height: 1rem;
    /* font-size: 0.05rem!important; */
}